{% extends "main.html" %}

{% block extrahead %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{'assets/stylesheets/home.css'|url}}">
{% endblock %}

{% block hero %}
    <div id="home-hero">
        <canvas id="warpdrive"></canvas>
        <script src="{{'assets/scripts/warpspeed.min.js'|url}}"></script>
        <script>
            new WarpSpeed("warpdrive", {
                "speed": 2,
                "speedAdjFactor": 0.03,
                "density": 2,
                "shape": "circle",
                "warpEffect": true,
                "warpEffectLength": 5,
                "depthFade": true,
                "starSize": 3,
                "backgroundColor": "hsl(224,15%,14%)", //"hsl(263,45%,7%)",
                "starColor": "#FFFFFF"
            });
        </script>
        {% include "partials/tabs.html" %}
        <div>
            <h1>The Python stack to build<br>web apps at light speed</h1>
            <p>
                From dev environment to UI framework to deployment,
                Hyperflask integrates everything seamlessly
                to let you focus on what you are building.
            </p>
            <p>
                v0.2 (BETA)
                <a href="/getting-started">Get started</a>
            </p>
        </div>
    </div>
    <div id="home-beta-warning">
        ⚠️ Hyperflask is still in BETA and being actively developed. Check out the <a href="/roadmap">roadmap</a> for a status update.
    </div>
    <div id="home-intro">
        <div>
            <div>
                <h2>Truly full stack to let you focus on building</h2>
                <p>
                    Choosing technologies for every aspect of your stack is overwhelming. And it's often hard to make them work together seamlessly. Hyperflask is the first true full stack framework.
                </p>
                <p>
                    <a href="/why">Checkout the project's goals and features &raquo;</a>
                </p>
            </div>
            <div>
                <h2>Amazing developer experience</h2>
                <p>
                    A lot of attention has been given to the developer experience. From installation, to development and deployment, all the steps have been minimized and made to work seamlessly.
                </p>
            </div>
            <div>
                <h2>Meticulously chosen technologies</h2>
                <p>
                    Each piece of technology integrated in the Hyperflask stack has been carefully selected for its quality, developer experience, ease of use, feature set and popularity.
                </p>
                <p>
                    <a href="/why/#features-and-technologies">See the full list of technologies &raquo;</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block tabs %}{% endblock %}

{% block content %}
{{ page.content }}
{% endblock %}