site_name: Hyperflask
repo_url: https://github.com/hyperflask/hyperflask
repo_name: hyperflask/hyperflask
edit_uri: https://github.com/hyperflask/hyperflask-docs/edit/main/docs/
copyright: Docs licensed under CC BY-SA 4.0

nav:
  - Home: index.md
  - why.md
  - getting-started.md
  - Guides:
    - guides/setup.md
    - Basics:
       - guides/structure.md
       - guides/config.md
       - guides/pages.md
       - guides/components.md
       - guides/interactive-apps.md
       - guides/assets.md
    - Handling data:
       - guides/forms.md
       - guides/models.md
       - guides/static.md
       - guides/files.md
       - guides/suspense.md
    - Digging deeper:
       - guides/flash.md
       - guides/metadata.md
       - guides/emails.md
       - guides/tasks.md
       - guides/i18n.md
       - guides/push.md
       - guides/security.md
       - guides/errors.md
    - Deploy to production:
       - guides/deploy.md
       - guides/scaling.md
    - guides/users.md
    - guides/for-flask-users.md
  - Components:
    - components/index.md
    - components/icons.md
    - components/forms.md
    - components/modals.md
    - components/layout.md
    - components/daisyui/index.md
  - Recipes:
    - recipes/going-to-production.md
    - recipes/sending-emails.md
    - recipes/monitoring.md
    - recipes/analytics.md
    - recipes/stripe.md
    - recipes/using-cms.md
  - "Status & Roadmap": roadmap.md
  # - Blog:
  #   - blog/index.md

theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: black
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      primary: white
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.path
    - navigation.top
    - navigation.footer
    - content.action.edit
    - content.code.copy
  icon:
    edit: material/pencil
  favicon: assets/favicon.png
  
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - callouts
  - blog:
      archive: false
  - redirects:
      redirect_maps:
        'guides/index.md': 'guides/setup.md'

extra_css:
  - assets/stylesheets/extra.css