
:root {
    --md-hue: 225deg;
}

#home-hero {
    position: relative;
    margin-top: -2.5rem;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        g circle:first-child {
          animation: rotation-cw 300s linear infinite;
          transform-origin: 50% 50%;
        }
        
        g circle:last-child {
          animation: rotation-ccw 300s linear infinite;
          transform-origin: 50% 50%;
        }
    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    > div {
        position: relative;
        z-index: 1;
        color: #fff;
        text-align: center;
        max-width: 1000px;
        margin: 4.5rem auto 2rem;
        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 2.5rem;
            color: #2bccc0;
        }
        p {
            font-size: 1rem;
            line-height: 1.5;
            max-width: 750px;
            margin: auto;
        }
        a {
            display: inline-block;
            margin-top: 2rem;
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #fff;
            font-size: 1rem;
            text-decoration: none;
            transition: background 0.3s, color 0.3s;
            &:hover {
                background: #fff;
                color: #000;
            }
        
        }
    }
}

#home-beta-warning {
    background: #171c29;
    padding: .6rem;
    text-align: center;
    color: #fff;
    font-size: .6rem;
    a {
        text-decoration: underline;
    }
}

#home-intro {
    background: #212737;
    margin-bottom: 3rem;
    padding: 2rem 0;

    > div {
        gap: 2rem;
        margin: 0 auto;
        max-width: 1220px;
        padding: 0 .8rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            min-height: 4.5rem;
        }

        p {
            font-size: .9rem;
            line-height: 1.5;

            a {
                font-size: .7rem;
                color: #5d6375;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 768px) {
    #home-intro > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }
}

#home-technos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;

    span {
        display: block;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background: #fff;
    }
}

.home-feature {
    gap: 2rem;

    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    p {
        font-size: .9rem;
        line-height: 1.5;
    }

    img {
        display: block;
        margin: 0 auto;
        max-height: 300px;
        max-width: 100%;
    }
}
.home-feature + .home-feature {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .home-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            max-width: 600px;
        }
    }
    .home-feature:nth-child(odd) {
        > div:first-child {
            order: 2;
        }
    }
}

.md-tabs {
    margin-top: 2.5rem;
    color: #fff;
}

.md-header {
    background: transparent !important;
    color: #fff;
}
/* .md-search__inner {
    background: #000;

    .md-search__icon {
        color: #fff !important;
    }
    .md-search__input::placeholder {
        color: #fff !important;
    }
} */


@keyframes rotation-cw {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}

@keyframes rotation-ccw {
0% {
    transform: rotate(359deg);
}
100% {
    transform: rotate(0deg);
}
}
